@{
  Layout = "_Layout";
}

@model BikeSupply.Models.Rider

<h4>Add a new Rider</h4>

<p><strong>NOTE:</strong> You need to have at least one Rider before you can add a new Race!</p>
<p>Go to @Html.ActionLink("this page", "Create", "Rider") create a Rider.</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.RiderName, "Student Name: ")
  @Html.TextBoxFor(model => model.RiderName)
  <input type="submit" value="Add new Rider"/>
}  

<p>@Html.ActionLink("Show all Riders", "Index")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>