@{
  Layout = "_Layout";
}

@model BikeSupply.Models.Bike

<h4>Add a new bike</h4>

<p><strong>NOTE:</strong> You need to have at least one Bike before you can add a new Rider!</p>
<p>Go to @Html.ActionLink("this page", "Create", "Rider") create a Rider.</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.BikeName, "Student Name: ")
  @Html.TextBoxFor(model => model.BikeName)
  <input type="submit" value="Add new Bike"/>
}  

<p>@Html.ActionLink("Show all Bikes", "Index")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>